project(beta_protoc_generated LANGUAGES C)

add_library(beta_protoc_generated STATIC src/dispatcher.c {% for message in messages %}src/{{ message.name }}.c {% endfor %})
target_include_directories(beta_protoc_generated PUBLIC include)