#ifndef {{ message.name|upper }}_MSG_H
#define {{ message.name|upper }}_MSG_H

#include <stdint.h>
#include <stdbool.h>
#include <stddef.h>
#include <string.h>

#include "beta_com.h"
#include "beta_protoc.h"

{%- for dep in message.dependencies %}
#include "{{ dep }}.h"
{%- endfor %}

typedef struct {
{%- for field in message.fields %}
    {{ lang.convert_type(field.type) }} {{ field.name }};
{%- endfor %}
} {{ message.name }};

int get_{{ lang.camel_to_proper_case(message.name) }}_size({{ message.name }} data, size_t *size);
int {{ lang.camel_to_proper_case(message.name) }}_to_buff({{ message.name }} data, uint8_t **buff, size_t *buff_len);
int {{ lang.camel_to_proper_case(message.name) }}_to_message({{ message.name }} data, uint8_t **buff, size_t *buff_len);
int {{ lang.camel_to_proper_case(message.name) }}_to_buff({{ message.name }} data, uint8_t **buff, size_t *rem_buff);
int {{ lang.camel_to_proper_case(message.name) }}_to_message({{ message.name }} data, uint8_t **buff, size_t *rem_buff);

#endif