#include "{{ message.name }}.h"

int get_{{ lang.camel_to_proper_case(message.name) }}_size(const {{ message.name }} *data, size_t *size) {
    if (data == NULL || size == NULL) {
        return BETA_PROTOC_ERR_INVALID_ARGS;
    }

    *size = 0;
{%- for field in message.fields %}
    {
        size_t field_size = 0;
        {% if field.type == "string" %}
        field_size += safe_strlen(data->{{ field.name }}, {{ field.size }}); // Actual string data
        {% elif field.is_primitive == false %}
        size_t nested_size = 0;
        int get_size_result = get_{{ lang.camel_to_proper_case(field.type) }}_size(&(data->{{ field.name }}), &nested_size); // Nested message size
        if (get_size_result != 0) return get_size_result;
        field_size += nested_size;
        {% else %}
        size_t primitive_size = 0;
        int get_size_result = {{ lang.camel_to_proper_case(field.type) }}_size(data->{{ field.name }}, &primitive_size); // Actual data
        if (get_size_result != 0) return get_size_result;
        field_size += primitive_size;
        {% endif %}

        size_t f_len_size = 0; // Length byte
        varint_size(field_size, &f_len_size);
        field_size += f_len_size;

        size_t f_id_size = 0; // Field ID
        varint_size((uint64_t) {{ field.id }}, &f_id_size);
        field_size += f_id_size;

        if (*size + field_size > SIZE_MAX) return BETA_PROTOC_VALUE_EXCEEDS_ARCH_LIMIT;
        *size += field_size;
    }
{%- endfor %}

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_to_buff(const {{ message.name }} *data, uint8_t **buff, size_t *rem_buff) {
    if (buff == NULL || *buff == NULL || rem_buff == NULL || data == NULL) {
        return BETA_PROTOC_ERR_INVALID_ARGS;
    }

{%- for field in message.fields %}
    {
        int id_varint_result = varint_to_buff((uint64_t) {{ field.id }}, buff, rem_buff);
        if (id_varint_result != 0) return id_varint_result;

        {% if field.type == "string" %}
        size_t str_len = safe_strlen(data->{{ field.name }}, {{ field.size }});
        int len_varint_result = varint_to_buff(str_len, buff, rem_buff);
        if (len_varint_result != 0) return len_varint_result;

        int result = {{ lang.camel_to_proper_case(field.type) }}_to_buff(data->{{ field.name }}, str_len, buff, rem_buff);
        {% elif field.is_primitive == false %}
        size_t nested_size = 0;
        int get_size_result = get_{{ lang.camel_to_proper_case(field.type) }}_size(&(data->{{ field.name }}), &nested_size);
        if (get_size_result != 0) return get_size_result;

        int len_varint_result = varint_to_buff(nested_size, buff, rem_buff);
        if (len_varint_result != 0) return len_varint_result;

        int result = {{ lang.camel_to_proper_case(field.type) }}_to_buff(&(data->{{ field.name }}), buff, rem_buff);
        {% else %}
        size_t primitive_size = 0;
        int get_size_result = {{ lang.camel_to_proper_case(field.type) }}_size(data->{{ field.name }}, &primitive_size);
        if (get_size_result != 0) return get_size_result;

        int len_varint_result = varint_to_buff(primitive_size, buff, rem_buff);
        if (len_varint_result != 0) return len_varint_result;

        int result = {{ lang.camel_to_proper_case(field.type) }}_to_buff(data->{{ field.name }}, buff, rem_buff);
        {% endif %}
        if (result != 0) return result;
    }
{%- endfor %}

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_to_message(const {{ message.name }} *data, uint8_t **buff, size_t *rem_buff) {
    if (buff == NULL || *buff == NULL || rem_buff == NULL || data == NULL) {
        return BETA_PROTOC_ERR_INVALID_ARGS;
    }

    if (*rem_buff < 1) return BETA_PROTOC_ERR_BUFFER_TOO_SMALL;
    **buff = (uint8_t) PROTOC_VERSION; // Protoc version
    (*buff)++;
    (*rem_buff)--;

    if (*rem_buff < 2) return BETA_PROTOC_ERR_BUFFER_TOO_SMALL;
    **buff = (uint16_t) {{ message.id }}; // Message ID LSB
    (*buff)++;
    **buff = (((uint16_t) {{ message.id }} >> 8) & 0x00FF); // Message ID MSB
    (*buff)++;
    *rem_buff -= 2;

    size_t payload_size = 0;
    int get_size_result = get_{{ lang.camel_to_proper_case(message.name) }}_size(data, &payload_size);
    if (get_size_result != 0) return get_size_result;
    int varint_result = varint_to_buff(payload_size, buff, rem_buff);
    if (varint_result != 0) return varint_result;

    int result = {{ lang.camel_to_proper_case(message.name) }}_to_buff(data, buff, rem_buff);
    if (result != 0) return result;

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_from_buff({{ message.name }} *data, uint8_t **buff, size_t *rem_buff) {
    if (buff == NULL || *buff == NULL || rem_buff == NULL || data == NULL) {
        return BETA_PROTOC_ERR_INVALID_ARGS;
    }

    while (*rem_buff > 0) {
        uint64_t field_id;
        int id_varint_result = varint_from_buff(&field_id, buff, rem_buff);
        if (id_varint_result != 0) return id_varint_result;

        size_t field_len;
        {
            uint64_t temp;
            int varint_result = varint_from_buff(&temp, buff, rem_buff);
            if (varint_result != 0) return varint_result;
            if (temp > SIZE_MAX) return BETA_PROTOC_VALUE_EXCEEDS_ARCH_LIMIT;
            field_len = (size_t) temp;
        }

        switch (field_id) {
        {%- for field in message.fields %}
            case {{ field.id }}:
            {
                {% if field.type == "string" %}
                if (field_len >= {{ field.size }}) return BETA_PROTOC_ERR_INVALID_DATA;
                int result = {{ lang.camel_to_proper_case(field.type) }}_from_buff(data->{{ field.name }}, field_len, buff, rem_buff);
                data->{{ field.name }}[field_len] = '\0';
                {% elif field.is_primitive == false %}
                size_t rem_nested = field_len;
                int result = {{ lang.camel_to_proper_case(field.type) }}_from_buff(&(data->{{ field.name }}), buff, &rem_nested);
                *rem_buff -= field_len;
                {% else %}
                int result = {{ lang.camel_to_proper_case(field.type) }}_from_buff(&(data->{{ field.name }}), buff, rem_buff);
                {% endif %}
                if (result != 0) return result;
                break;
            }
        {%- endfor %}

            default:
                if (field_len > *rem_buff) return BETA_PROTOC_ERR_INVALID_DATA;
                (*buff) += field_len;
                *rem_buff -= field_len;
        }
    }

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_from_message({{ message.name }} *data, uint8_t **buff, size_t *rem_buff) {
    if (buff == NULL || *buff == NULL || rem_buff == NULL || data == NULL) {
        return BETA_PROTOC_ERR_INVALID_ARGS;
    }

    if (*rem_buff < 1) return BETA_PROTOC_ERR_INVALID_DATA;
    if (**buff != PROTOC_VERSION) return BETA_PROTOC_ERR_INVALID_PROTOC_VERSION;
    (*buff)++;
    (*rem_buff)--;

    if (*rem_buff < 2) return BETA_PROTOC_ERR_INVALID_DATA;
    if ((((uint16_t)(*(*buff + 1)) << 8) | (uint16_t)(**buff)) != {{ message.id }}) return BETA_PROTOC_ERR_INVALID_ID;
    *buff += 2;
    *rem_buff -= 2;

    size_t payload_len;
    {
        uint64_t temp;
        int varint_result = varint_from_buff(&temp, buff, rem_buff);
        if (varint_result != 0) return varint_result;
        if (temp > SIZE_MAX) return BETA_PROTOC_VALUE_EXCEEDS_ARCH_LIMIT;
        payload_len = (size_t) temp;
    }

    if (*rem_buff < payload_len) return BETA_PROTOC_ERR_INVALID_DATA;
    size_t rem_payload = payload_len;

    int result = {{ lang.camel_to_proper_case(message.name) }}_from_buff(data, buff, &rem_payload);
    if (result != 0) return result;

    *rem_buff -= payload_len;

    return 0;
}