#include "{{ message.name }}.h"

int get_{{ lang.camel_to_proper_case(message.name) }}_size({{ message.name }} data, size_t *size) {
    *size = 0;
{%- for field in message.fields %}
    {
        size_t field_size = 0;
        field_size = sizeof(uint8_t); // Field ID
        field_size += sizeof(uint8_t); // Length byte
        {% if field.type == "string" %}
        field_size += strlen(data.{{ field.name }}); // Actual string data
        {% elif field.is_primitive == false %}
        size_t nested_size = 0;
        int get_size_result = get_{{ lang.camel_to_proper_case(field.type) }}_size(data.{{ field.name }}, &nested_size); // Nested message size
        if (get_size_result != 0) return get_size_result;
        field_size += nested_size;
        {% else %}
        field_size += sizeof({{ lang.convert_type(field.type) }}); // Actual data
        {% endif %}
        *size += field_size;
    }
{%- endfor %}

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_to_buff({{ message.name }} data, uint8_t **buff, size_t *rem_buff) {
{%- for field in message.fields %}
    {
        if (*rem_buff < 2) return BETA_PROTOC_ERR_BUFFER_TOO_SMALL;
        **buff = (uint8_t){{ field.id }}; // Field ID
        (*buff)++;
        {% if field.type == "string" %}
        **buff = (uint8_t)strlen(data.{{ field.name }}); // Length byte
        (*buff)++;
        *rem_buff -= 2;

        int result = {{ lang.camel_to_proper_case(field.type) }}_to_buff(data.{{ field.name }}, strlen(data.{{ field.name }}), buff, rem_buff);
        {% elif field.is_primitive == false %}
        size_t nested_size = 0;
        int get_size_result = get_{{ lang.camel_to_proper_case(field.type) }}_size(data.{{ field.name }}, &nested_size);
        if (get_size_result != 0) return get_size_result;
        **buff = (uint8_t)nested_size; // Length byte
        (*buff)++;
        *rem_buff -= 2;

        int result = {{ lang.camel_to_proper_case(field.type) }}_to_buff(data.{{ field.name }}, buff, rem_buff);
        {% else %}
        **buff = (uint8_t)sizeof({{ lang.convert_type(field.type) }}); // Length byte
        (*buff)++;
        *rem_buff -= 2;

        int result = {{ lang.camel_to_proper_case(field.type) }}_to_buff(data.{{ field.name }}, buff, rem_buff);
        {% endif %}
        if (result != 0) return result;
    }
{%- endfor %}

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_to_message({{ message.name }} data, uint8_t **buff, size_t *rem_buff) {
    if (*rem_buff < MESSAGE_HEADER_SIZE) return BETA_PROTOC_ERR_BUFFER_TOO_SMALL;
    **buff = (uint8_t)PROTOC_VERSION; // Protoc version
    (*buff)++;
    **buff = (uint8_t){{ message.id }}; // Message ID
    (*buff)++;
    uint8_t *p_payload_len = *buff; // Pointer to message length byte
    **buff = 0;
    (*buff)++;
    *rem_buff -= MESSAGE_HEADER_SIZE;

    size_t initial_rem_buff = *rem_buff;

    int result = {{ lang.camel_to_proper_case(message.name) }}_to_buff(data, buff, rem_buff);
    if (result != 0) return result;

    *p_payload_len = initial_rem_buff - *rem_buff;

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_from_buff({{ message.name }} *data, uint8_t **buff, size_t *rem_buff) {
    while (*rem_buff > 0) {
        if (*rem_buff < 2) return BETA_PROTOC_ERR_INVALID_DATA;
        uint8_t field_id = **buff;
        (*buff)++;
        size_t field_len = **buff;
        (*buff)++;
        *rem_buff -= 2;

        switch (field_id) {
        {%- for field in message.fields %}
            case {{ field.id }}:
            {
                {% if field.type == "string" %}
                if (field_len >= STRING_MAX_SIZE) return BETA_PROTOC_ERR_INVALID_DATA;
                int result = {{ lang.camel_to_proper_case(field.type) }}_from_buff(data->{{ field.name }}, field_len, buff, rem_buff);
                data->{{ field.name }}[field_len] = '\0';
                {% else %}
                int result = {{ lang.camel_to_proper_case(field.type) }}_from_buff(&(data->{{ field.name }}), buff, rem_buff);
                {% endif %}
                if (result != 0) return result;
                break;
            }
        {%- endfor %}

            default:
                if (field_len > *rem_buff) return BETA_PROTOC_ERR_INVALID_DATA;
                (*buff) += field_len;
                *rem_buff -= field_len;
        }
    }

    return 0;
}

int {{ lang.camel_to_proper_case(message.name) }}_from_message({{ message.name }} *data, uint8_t **buff, size_t *rem_buff) {
    if (*rem_buff < MESSAGE_HEADER_SIZE) return BETA_PROTOC_ERR_INVALID_DATA;
    if (**buff != PROTOC_VERSION) return BETA_PROTOC_ERR_INVALID_PROTOC_VERSION;
    (*buff)++;
    if (**buff != {{ message.id }}) return BETA_PROTOC_ERR_INVALID_ID;
    (*buff)++;
    size_t payload_len = **buff;
    (*buff)++;
    *rem_buff -= MESSAGE_HEADER_SIZE;

    if (*rem_buff < payload_len) return BETA_PROTOC_ERR_INVALID_DATA;
    size_t rem_payload = payload_len;

    int result = {{ lang.camel_to_proper_case(message.name) }}_from_buff(data, buff, &rem_payload);
    if (result != 0) return result;

    *rem_buff -= payload_len;

    return 0;
}